.home-title-box {
    position: absolute;
    margin-top: 15vh;
}

.home-title {
    margin: 0;
    color: #FFF;
    font-family: "Tanker-Regular";
}

main {
    background-image: url("/diagonal_lines_home.png");
    height: 73vh;
    margin-left: -1vw;
    margin-bottom: 13vh;
    width: 90.4vw;
    flex-shrink: 0;
    padding-left: 10vw;
}

.using-engines {
    display: inline-flex;
}

.content {
    position: absolute;
    margin-left: 45vw;
    margin-right: 8vw;
}