
@import './_var.scss';
header {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-inline: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;

    .logo {
        margin-right: 2.5vw;
        width: 40px;
    }

    nav {
        justify-self: flex-start;
        display: inline-flex;

        .navbar-entry {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                color: lighten($accent,30);
                text-decoration: none;
                text-align: center;
                margin-inline: .9vw;
                transition: color 0.5s;
                font-family: "Satoshi-Bold";
                &:hover{
                    color: $accent;
                }
            }

            .active {
                color: $accent;
            }

            .highlighter {
                margin-top: -10px;
            }
        }

    }

    .social {
        width: 22px;
        margin-inline: .2vw;
    }
}

.not-responsive-warning{
    display: none;
}

@media (max-width: 1000px){
    .not-responsive-warning{
        display: flex;
        font-family: "Satoshi-Bold";
        padding-bottom: 10px;
    }
}