@import "./_var.scss";
.sidebar {
  display: flex;
  justify-content: space-evenly;
  .sidebar-entries {
    opacity: 1;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .active {
    color: $accent;
  }

  rotate: 0deg;
  svg {
    transition: 0.3s ease-in-out;
    rotate: 0deg;
  }
  &:checked ~ {
    svg {
      rotate: 180deg;
    }
    div {
      //only works when the checkbox is on the correct line in the astro file
      margin-left: -330%;
    }
  }

  &[type="checkbox"] {
    position: absolute;
    transform: scale(2);
    z-index: 2;
    &:checked {
    }
  }
}
