@import "./_var.scss";
.sidebar {
  left: 0;
  top: 0;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
  width: 18vw;
  a {
    color: white;
    text-decoration: none;
  }
  .active {
    color: $accent;
  }
  .repo-link {
    text-decoration: underline;
    color: $accent;
    &[target="_blank"]::after {
      background-color: $accent;
    }
  }
}
