---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ERROR 404"
  description="This is my personal website with my projects, docs and other useful stuff."
>
  <main>
    <div class="center">
      <h1 style="text-align: center;">ERROR 404</h1>
      <br />
      <p style="font-size: 22px;">
        The page either never existed or was renamed.<br />
        Try something in the navbar above!
      </p>
    </div>
  </main>
</Layout>
