---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Blog"
    description="This is my personal website with my projects, docs and other useful stuff."
>
    <main><div class="content">Blog (not finished yet)</div></main>
</Layout>
