---
import { date } from "astro/zod";
import Layout from "../layouts/Layout.astro";
const allDocs = await Astro.glob("./docs/*.mdx");
const fileteredDocs = allDocs.sort(
    (a, b) => +new Date(b.frontmatter.date) - +new Date(a.frontmatter.date),
);
---

<Layout
    title="Docs"
    description="This is my personal website with my projects, docs and other useful stuff."
>
    <main><div class="content">Docs (not finished yet)</div></main>
</Layout>
