---
import Layout from "../layouts/Layout.astro";
const unsortedDocs = await Astro.glob("./docs/*/*.mdx");
const docs = unsortedDocs
    .sort(
        (a, b) => +new Date(b.frontmatter.date) - +new Date(a.frontmatter.date),
    )
    .filter((doc) => !doc.frontmatter.draft);
---

<Layout
    title="Docs"
    description="This is my personal website with my projects, docs and other useful stuff."
>
    <main><div class="content">Docs (not finished yet)</div></main>
</Layout>
