---
import Layout from "../layouts/Layout.astro";
import "../styles/home.scss";
---

<Layout
	title="Home"
	description="This is my personal website with my projects, docs and other useful stuff."
>
	<main>
		<div class="home-title-box">
			<h1 class="home-title" style="font-size: 6vw;">vaporvee</h1>
			<h2
				class="home-title"
				style="font-size: 2vw; margin-top: -10px; margin-bottom: 12vh;"
			>
				Making video games
			</h2>
			<img
				src="/using_engines.svg"
				alt="engines I'm using"
				width="275px"
			/>
		</div>
	</main>
</Layout>
