---
import Layout from "../layouts/Layout.astro";
import "../styles/home.scss";

const yannikAge = new Date().getFullYear() - 2004; // 31/12/2003
---

<Layout
	title="Home"
	description="This is my personal website with my projects, docs and other useful stuff."
>
	<main>
		<div class="home-title-box">
			<h1 class="home-title" style="font-size: 6vw;">vaporvee</h1>
			<h2
				class="home-title"
				style="font-size: 2vw; margin-top: -10px; margin-bottom: 12vh;"
			>
				Making video games
			</h2>
			<img
				src="/using_engines.svg"
				alt="engines I'm using"
				width="275px"
			/>
		</div>
		<div class="content">
			<p>
				Hello my name is <b>Yannik</b>!<br />
				I’m a {yannikAge} year old <b>Game Developer</b> living <b
					>in Germany</b
				>.<br />
				I mostly code in C++, Godot Engine's GDScript and C#.<br />
				I am mostly self taught but i cant really say when i began to learn
				game developement.<br />
				Currently i already work at a game studio and i also have my own
				game side projects and tools.<br />
				This website will mostly have <a href="/docs">docs</a>,
				<a href="/tutorials">tutorials</a>, and showcasing of my
				<a href="/projects">projects</a>. Maybe also some other stuff
				all around the creative process of game developement or
				completely unrelated stuff like cooking recepies in my <a
					href="/blog">blog</a
				> ;)
			</p>
		</div>
	</main>
</Layout>
