---
import Base from "../layouts/Base.astro";
---

<Base title="Work in progress">
	<h1 class="wip-title">Work in <span class="text-gradient">progress</span></h1>
	<div class="card">
		<p>
			Hey &nbsp;<img width="32px" src="../../public/hand_wave.webp"><br>
			<br>
			this is my personal website <br> wich gets a rewrite "right now".<br>
			My name is Yannik aka vaporvee and I'm 19 years old.<br> 
			I'm a game developer and i code in C++, Godot Engine's GDScript and C#.<br>
			<br>
			If you want to see the progress on this website visit <a href="https://github.com/vaporvee/web">github.com/vaporvee/web</a>
		</p>
	</div>
</Base>
