---
import Layout from "../layouts/Layout.astro";
import "../styles/home.scss";
---

<Layout
	title="Home"
	description="This is my personal website with my projects, docs and other useful stuff."
>
	<div class="home-title-box">
		<h1 class="home-title" style="font-size: 6.5vw;">vaporvee</h1>
		<h2 class="home-title" style="font-size: 2vw; margin-top: -25px;">
			Making video games
		</h2>
	</div>
</Layout>
