---
import Base from "../layouts/Base.astro";
---

<Base title="Work in progress">
	<h1 class="wip-title">Work in <span class="text-gradient">progress</span></h1>
	<div class="card">
		<p>
			Hey👋,<br>
			<br>
			this is my personal website wich gets a rewrite rignt now.<br>
			My name is Yannik aka vaporvee and I'm 19 years old.<br> 
			In my freetime i'm a gamedev and i code in C++, Godot Engine's GDScript and C#.<br>
			If you want to see the progress on this website visit <a href="https://github.com/vaporvee/web">github.com/vaporvee/web</a>
		</p>
	</div>
</Base>
