---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Projects"
    description="This is my personal website with my projects, docs and other useful stuff."
>
    <main>Projects</main>
</Layout>
