---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<style lang="scss">
  h1 {
    margin-bottom: 40px;
  }
</style>
<Layout
  title="Projects"
  description="This is my personal website with my projects, docs and other useful stuff."
>
  <main>
    <div>
      <h1 style="text-align: center;">Projects</h1>
      <ProjectCard name="voicenext" href="https://voicenext.app"
        >My team and I are currently working on voicenext, a voice messaging app
        designed to keep communication simple and intuitive. With voicenext, you
        just hold to speak and tap to listen. We are also working on unique
        features that other messaging apps haven't considered because we are
        solely focused on audio.</ProjectCard
      >
      <ProjectCard name="SmartCustomerAI"
        >I am currently developing a program that can simulate customer calls.
        For this, I am using the Web Speech Recognition API, OpenAI, and
        Elevenlabs.</ProjectCard
      >
      <ProjectCard
        name="DiscordRPC Godot Plugin"
        href="https://github.com/vaporvee/discord-rpc-godot"
        >The first Discord RPC plugin for the version 4 of the Godot game
        engine.</ProjectCard
      >
      <ProjectCard name="acecore" href="https://github.com/vaporvee/acecore"
        >Modular multi purpose bot powering your Discord server.</ProjectCard
      >
    </div>
  </main>
</Layout>
