---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GalaryZoom from "../components/GalaryZoom.astro";
---

<style lang="scss">
  h1 {
    margin-bottom: 40px;
  }
</style>
<Layout
  title="Projects"
  description="This is my personal website with my projects, docs and other useful stuff."
>
  <main>
    <div style="margin-bottom: 20px;">
      <h1 style="text-align: center;">Projects</h1>
      <GalaryZoom />
      <ProjectCard
        name="voicenext"
        skills={[
          "React",
          "TypeScript",
          "Tailwind",
          "Bun",
          "Capacitor.js",
          "Astro",
          "React Native",
          "Python",
          "Tauri",
          "Android",
          "iOS",
          "Git",
        ]}
        center={true}
        gallery={[
          "/img/projects/voicenext/Promo.png",
          "/img/projects/voicenext/Home.png",
          "/img/projects/voicenext/Register.png",
          "/img/projects/voicenext/Settings.png",
          "/img/projects/voicenext/Settings2.png",
        ]}
        href="https://voicenext.app"
        >My team and I are currently working on voicenext, a voice messaging app
        designed to keep communication simple and intuitive. With voicenext, you
        just hold to speak and tap to listen. We are also working on unique
        features that other messaging apps haven't considered because we are
        solely focused on audio.
      </ProjectCard>
      <ProjectCard
        name="SmartCustomerAI"
        skills={[
          "Vue",
          "TypeScript",
          "Bun",
          "Tauri",
          "OpenAI API",
          "Elevenlabs API",
          "Python",
          "Linux",
          "Docker",
          "Git",
        ]}
        gallery="/img/projects/sca/call.png"
        >I am currently developing a program that can simulate customer calls.
        For this, I am using the Web Speech Recognition API, OpenAI, and
        Elevenlabs.
      </ProjectCard>
      <ProjectCard
        name="acecore"
        skills={["Go", "Python", "Git", "Linux"]}
        gallery="/img/projects/acecore.png"
        href="https://github.com/vaporvee/acecore"
        >Modular multi purpose bot powering your Discord server.<br />
        Custom forms with ticket and approve system, tags / custom commands, sticky
        messages, auto join roles, autopublish, cat pictures and much more
      </ProjectCard>
      <ProjectCard
        name="DiscordRPC Godot Plugin"
        skills={["Godot", "C++", "Python", "Git", "Linux"]}
        gallery="/img/projects/discord-rpc.png"
        href="https://github.com/vaporvee/discord-rpc-godot"
        >The first Discord RPC plugin for the version 4 of the Godot game
        engine.
      </ProjectCard>
      <ProjectCard
        name="Astro.js GitHub Component"
        skills={["TypeScript", "Astro", "Git"]}
        href="https://github.com/vaporvee/astro-github-component"
        >Adds a component to astro with statically built GitHub info and dynamic
        updated stars and forks. Supports GitHub auth tokens in the built
        process (use a .env for example) and dynamic stars/forks caching to
        manage the GitHub API rate limiting.
      </ProjectCard>
    </div>
  </main>
</Layout>
