---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Tutorials"
    description="This is my personal website with my projects, docs and other useful stuff."
>
    <main>Tutorials</main>
</Layout>
