---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";
const title = frontmatter.title + "| Docs";
const unsortedDocs = await Astro.glob("../pages/docs/*/*.mdx");
const docs = unsortedDocs
  .sort((a, b) => +new Date(b.frontmatter.date) - +new Date(a.frontmatter.date))
  .filter((doc) => doc.frontmatter.repo === frontmatter.repo);
---

<Layout
  title={title}
  description="This is my personal website with my projects, docs and other useful stuff."
>
  <div class="content">
    <h1 style="text-align: center;">{frontmatter.title}</h1>
    <a href={"https://github.com/vaporvee/" + frontmatter.repo}
      ><img
        src="/github-mark.svg"
        style="margin-bottom: -10px; margin-right:3px;"
      />Respository</a
    ><br />
    <br />
    <hr style="width: 100%; margin: 2vh;" />
    <br />
    <slot />
  </div>
  <div class="sidebar">
    <a href={"/docs/" + frontmatter.repo}>Home</a><br />
    {
      docs.map((page) => (
        <>
          <a href={page.url}>{page.frontmatter.title}</a>
          <br />
        </>
      ))
    }
  </div>
</Layout>
