---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";
const title = "Docs | " + frontmatter.title;
---

<Layout
    title={title}
    description="This is my personal website with my projects, docs and other useful stuff."
>
    <div class="content"><slot /></div>
</Layout>
