---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import "../styles/sidebar.scss";
const title = frontmatter.title + " | Docs";
const unsortedDocs = await Astro.glob("../pages/docs/*/*.mdx");
const docs = unsortedDocs.sort((a, b) =>
  a.url === "/docs/" + a.frontmatter.repo ? -1 : 1
);
---

<Layout
  title={title}
  description="This is my personal website with my projects, docs and other useful stuff."
>
  <div class="sidebar">
    <input type="checkbox" class="sidebar" />
    <div class="sidebar" style="display: unset;">
      {
        docs.map((page) => {
          const isActive =
            (Astro.url.pathname.startsWith(page.url) &&
              page.url !== "/docs/" + page.frontmatter.repo) ||
            Astro.url.pathname === page.url;
          return (
            <a href={page.url} class={isActive ? "active" : ""}>
              <Icon name="mdi:file-outline" />
              {page.frontmatter.title} <br />
            </a>
          );
        })
      }
    </div>
    <Icon size={22} name="mdi:chevron-left-circle" />
  </div>
  <div class="content">
    <a href={"https://github.com/vaporvee/" + frontmatter.repo} target="_blank"
      ><img
        src="/github-mark.svg"
        style="margin-bottom: -10px; margin-right:3px;"
      />Respository</a
    ><br />
    <h1 style="text-align: center;">{frontmatter.title}</h1>
    <br />
    <hr style="width: 100%; margin: 2vh;" />
    <br />
    <slot />
  </div>
</Layout>
