---
interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
import "../styles/main.scss";
import "../styles/callout.scss";

import styles from "../styles/_var.scss";
const accentColorMatch = styles.match(/accentColor: ([^;]+)/);
const accentColor = accentColorMatch ? accentColorMatch[1] : "";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="darkreader-lock" />
    <meta name="theme-color" content={accentColor} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | vaporvee's Website</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />

    <main>
      <slot />
    </main>
    <br />
    <Footer />
  </body>
</html>
